@charset "UTF-8";

/*configurações gerais*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
}
h1, div{
    padding: 10px;
    text-align: center;
}
div#caixa{
    display: block;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
}
