@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    height: 100vh;
    background-color: rgb(39, 218, 39);
}

header{
    background-color: darkgreen;
    width: 100vw;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

h1{
    text-align: center;
    font-size: 2em;
    padding: 3px;
}


div#burgue{
    background-color: rgb(19, 161, 19);
    text-align: center;
    padding: 10px;
    cursor: pointer;
}


menu{
    display: none;
}

li{
    background-color:rgb(19, 161, 19);
    border-top: 2px solid rgba(4, 255, 4, 0.425);
    padding: 5px;
    list-style: none;
    text-align: center;
}


main{
    background-color: white;
    width: 90vw;
    max-width: 599px;
    
    margin: auto;
    padding:20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.541);
    border-radius: 10px;
}

@media (min-width:600px) {
    div#burgue{
        display: none;
    }

    menu{
        display: block !important;
    }

    li{
        display: inline-block;
        background-color: darkgreen;
        padding: 10px;
        margin-right: 10px;
        border-top: none;
        border-radius: 10px;
    }

    li:hover{
        background-color: rgb(19, 161, 19);
        transition: background-color 1s;
    }

    h1{
        margin-bottom: 5px;
    }

    h1:hover{
        background-color:rgb(19, 161, 19);
        transition: background-color 1s;
    }


    article{
        line-height: 2em;
    }
}





/*Use depois na versao para pc

h1:hover{
    background-color:rgb(19, 161, 19);
    transition: background-color 1s;
}

li:hover{
    background-color: rgb(19, 161, 19);
    transition: background-color 1s;
    border-radius: 3px;
}
*/