@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    border: 1px 1px solid rgb(195, 23, 23);
}

header > h1{
    text-align: center;
    background-color: rgb(42, 138, 247);
    padding: 5px;
    color: white;
}

menu > ul{
    text-decoration: none;background-color: rgb(13, 78, 199);
}
menu > ul > li{
    display: inline-block;
    padding: 5px;  
}

article{
    width: 400px;
    display: block;
    margin: auto;
}