@charset "UTF-8";

@media screen and (min-width:600px) {
    body{
        background: black url(../imagens/back-tablet.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#monitor{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width:1024px) {
    body{
        background: black url(../imagens/back-pc.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#monitor{display: block;}
    img#tv{display: none;}


}

@media screen and (min-width:1800px) {
    body{
        background: black url(../imagens/back-tv.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#monitor{display: none;}
    img#tv{display: block;}
}

@media print {
    img#print{display: block;}
    img#phone{display: none;}
    img#tablet{display: none;}
    img#monitor{display: none;}
    img#tv{display: none;}

    html, body{
        height: auto;
    }

    body{
        background:url(../imagens/back-print.jpg) no-repeat;
        background-size: cover;
    }
    nav, footer, button{
        display: none;
    }
}