@charset "UTF-8";

/*Versao Principal*/

*{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

bpdy, html{
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-position: center center;
    background-size: cover;

}

main{
    background-color: rgba(255, 255, 255, 0.788);
    width: 400px;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
}
h1{
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
}

img{
    display: block;
    margin: auto;
}

img#phone{display: block;}
img#tablet{display: none;}
img#print{display: none;}
img#monitor{display: none;}
img#tv{display: none;}